<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Freemail Example</title>
  <!-- Don't write CSS inline, this only an example -->
  <style type="text/css">
    body {
      font-family: Helvetica, Arial, sans-serif;
      margin: 0 auto;
      max-width: 700px;
    }
  </style>
</head>
<body>
  <div>
    <h1>Original Email:</h1>
    <!-- Escape and show original email -->
    <pre><%= CGI.escapeHTML @original %></pre>
  </div>
  
  <div>
    <h1>Parsed Email:</h1>
    <!-- Show each property in our Freemail hash individually -->
    <% @freemail.each do |property, value| %>
      <pre><strong><%= CGI.escapeHTML property %>:</strong> <%= CGI.escapeHTML value %></pre>
    <% end %>
  </div>
  
  <div>
    <h1>Real World Example:</h1>
    <!-- Render specific fields from our Freemail hash -->
    <pre><strong><%= CGI.escapeHTML @freemail['Subject'] %></strong> from <strong><%= CGI.escapeHTML @freemail['From'] %></strong></pre>
    
    <!-- Render HTML in iframe -->
    <iframe src="kickstarter.html" width="700" height="400"></iframe>
  </div>
</body>
</html>