<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Freemail Example</title>
  <!-- Don't write CSS inline, this only an example -->
  <style type="text/css">
    body {
      font-family: Helvetica, Arial, sans-serif;
      margin: 0 auto;
      max-width: 500px;
    }
  </style>
</head>
<body>
  <div>
    <h1>Original Email:</h1>
    <pre><%= CGI.escapeHTML @original %></pre>
  </div>
  
  <div>
    <h1>Parsed Email:</h1>
    <pre><% @freemail.each do |property, value| %>
<strong><%= CGI.escapeHTML property %>:</strong> <%= CGI.escapeHTML value %>
    <% end %>
    </pre>
  </div>
  
  <div>
    <h1>Specific Fields:</h1>
    <pre><strong><%= CGI.escapeHTML @freemail['Subject'] %></strong> from <strong><%= CGI.escapeHTML @freemail['From'] %></strong></pre>
  </div>
</body>
</html>